

 <header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light nav-grey">
    <a class="navbar-brand" href="#"><img src="assets\img\438bd9b499a14a76ba2d444ed401ed0c.png" height="90px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  " id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto example-spacer ">
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/clogin"><button mat-button color="primary"class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                login
                </button> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/alogin">  <button mat-button color="primary"class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                Admin login
            </button></a>
        </li>
       
      </ul>
      
    </div>
  </nav></header>
  <div class="middle ">
     
         <h1>There’s a better way to grow.</h1>
         <img class="homepage-hero__svg"src="\assets\hero.svg" alt="">
        
  </div>
  <div class="side">
    
    <div style="text-align: center;" ><br><h2>There is a better way to grow</h2></div>
    <div style="text-align: center;" ><p>Marketing, sales, and service software that helps your business grow without compromise. Because “good for the business” should also mean “good for the customer.”</p></div>
    <a routerLink="/csignup"><button class=" btn btn-primary">Join us Now</button></a><br>
   
  </div> 