
  <div class="container card-dec">
  <div class="row">
  <div class="card col-md-4">
      <div class="face face1">
          <div class="content">
              <img src="https://previews.123rf.com/images/asmati/asmati1706/asmati170605995/80930161-car-sign-illustration-vector-white-icon-with-soft-shadow-on-transparent-background-.jpg">
              <h3>Vehicle Loan</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>We offers you the best car loans worth up to 100% of the on-road price of the car you choose to buy, along with attractive interest rates and tenure of up to seven years.

                Apply Now to get an instant approval of Car Loan</p>
                  <a routerLink="/user/applications">Apply now</a>
          </div>
      </div>
  </div>
  <div class="card  col-md-4">
      <div class="face face1">
          <div class="content">
            <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">

              <h3>Housing Loan</h3>
          </div>
      </div>
      <div class="face face2 ">
          <div class="content">
              <p>our home loan processing involves minimum documentation and is easy and seamless. Moreover, our years of experience in the industry make us the reliable home loan provider you have been looking for!</p>
                  <a href="#">Apply now</a>
          </div>
      </div>
  </div>
  <div class="card  col-md-4">
      <div class="face face1">
          <div class="content">
            <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
              <h3>Education Loan</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p> We brings you Education Loans for studies both in India and abroad starting from Rs. 50,000 at attractive interest rates. </p>
                  <a href="#">Apply now</a>
          </div>
      </div>
  </div>
</div>
</div>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  