img{
    
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    

}
.wrapper{
   
    margin-left:auto;
    margin-right: auto;
    width:50%;
}
form{
 

 
    margin:auto;
    width: 330px;
}
.smalltext{
    text-align: center;
    font-size: larger;
   
}
a{ font-weight: bold;
    color: rgb(108, 104, 134);
    
}
.inputwidth{
    width:325px;
    position:relative;
    left:1%;
    right:10% ;
}
button{ 
    margin-left: 28%;
    margin-top: 10px;
    width: 150px;
  
}