
 
 table {
    width: 90%;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 3%;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    border: 1px solid rgb(114, 31, 190) ;
  }
  h1{
      margin-top: 3%;
      margin-left: 1%;
  }
 
.cardsizer{
    width:80%;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 50px;
}
.inputwidth{
  width:60%;
  /* margin-left: auto;
  margin-right: auto; */
  margin:auto
}