<article class="cssui-usercard">
    <div class="cssui-usercard__body">
        <header class="cssui-usercard__header">
            
            <div class="cssui-usercard__header-info">
                <h3 class="cssui-usercard__name">{{user.name}}</h3>
                
            </div>
        </header>
        <div class="cssui-usercard__content">
            <div class="cssui-slider">

                <!-- the control elements of slider -->

                

                <div class="cssui-slider__slides">

                    <!-- first slide -->

                    <div class="cssui-slider__slide">
                        <h4 class="cssui-usercard__title">About </h4>
                        <div class="cssui-usercard__stats">
                            <div class="cssui-stats cssui-usercard__stats-item">
                                <i class="cssui-icon icon-earth"></i>
                                <div class="cssui-stats__info cssui-usercard__stats-info">
                                    <span class="cssui-stats__name cssui-usercard__stats-name">Email</span>
                                    <span class="cssui-stats__value">{{user.name}}</span>
                                </div>
                            </div>
                            <div class="cssui-stats cssui-usercard__stats-item">
                                <i class="cssui-icon icon-location"></i>
                                <div class="cssui-stats__info cssui-usercard__stats-info">
                                    <span class="cssui-stats__name cssui-usercard__stats-name">Phone</span>
                                    <span class="cssui-stats__value">{{user.phonenumber}}</span>
                                </div>
                            </div>
                            <div class="cssui-stats cssui-usercard__stats-item">
                                <i class="cssui-icon icon-calendar"></i>
                                <div class="cssui-stats__info cssui-usercard__stats-info">
                                    <span class="cssui-stats__name cssui-usercard__stats-name">email</span>
                                    <span class="cssui-stats__value">{{user.email}}</span>
                                </div>
                            </div>
                            <div class="cssui-stats cssui-usercard__stats-item">
                                <i class="cssui-icon icon-man-woman"></i>
                                <div class="cssui-stats__info cssui-usercard__stats-info">
                                    <span class="cssui-stats__name cssui-usercard__stats-name"></span>
                                    <span class="cssui-stats__value"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
  
</article>

